@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.unselectable, ::placeholder {
    user-select: none;
}
